body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:darkslategrey;
}
h1{
    color: darkorange;
    font-size: 50px;
}
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:coral;
    font-size: 60px;
    letter-spacing: 7px;
}